* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body and container */

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier Prime', monospace;
    user-select: none;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    cursor:default;
    align-items: center;
}

/* TITLE */

.fighter {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    transition: 0.35s;
}

/* game stats */

.user__choices {
    display: flex;
    gap: 4rem;
    justify-content: space-between;
    transition: 0.35s;
}

.game__stats {
    flex-direction: column;
    transition: 0.35s;
}

.user__choices_rock,
.user__choices_paper,
.user__choices_scissors {
    
}
.user__choices img {
    width: 270px;
    height: 270px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.37);
    transition: width height 0.1s;
}

.user__choices img:active {
    scale: 0.98;
    box-shadow: none;
}


.game__stats_box {
    display: flex;
    flex-wrap: wrap;
}

.round {
    font-size: 40px;
    font-weight: 700;
    transition: 0.35s;
}

.winner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
    height: 30px;
    opacity: 0;
    font-size: 20px;
    transition: 3s;
}

.announce {
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    align-items: center;
    transition: 0.35s;
}

/* overlays */

.red-overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.315);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.1s linear;
}

.green-overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(22, 192, 16, 0.315);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.1s linear;
}


